.navbar {
    display: flex;
    padding: 0 20px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 20px;
    height: 30px;
    width: 100%;
}

.menuFunction {
    display: flex;
    align-items: center;
    gap: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 9px;
}

.menuFunction li a {
    text-decoration: none;
    color: #a18fa3;
    transition: color 0.3s;
    position: relative;
    padding-bottom: 4px;
}

.menuFunction li {
    list-style: none;
}

.iconsFunction {
    display: flex;
    gap: 20px;
    font-size: 17px;
    margin-left: auto;
    list-style: none;
    padding: 0;
    align-items: center;
    margin-top: 30px;
}
.iconsFunction li a {
    text-decoration: none;
}
.iconsFunction li a i {
    color: #a18fa3;
}
.iconsFunction li a i:hover {
    color: white;
}
.iconsFunction .dropdown {
    position: relative;
}

.iconsFunction .dropdownMenu {
    position: absolute;
    top: 100%;
    right: -18px;
    background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
    border-radius: 6px;
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: none;
    min-width: 170px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.iconsFunction .dropdownMenu li a {
    display: block;
    padding: 8px 12px;
    color: #a18fa3;
    text-decoration: none;
}

.iconsFunction .dropdownMenu li a:hover {
    color: #ffffff;
}

.iconsFunction .dropdown:hover .dropdownMenu {
    display: block;
}
.searchIcon {
    color: #a18fa3;
    transition: color 0.3s ease;
}

.searchIcon:hover {
    color: white;
}

.searchBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchIcon {
    color: #a18fa3;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.searchInput {
    position: absolute;
    right: -3px;
    opacity: 0;
    transform: translateX(30px);
    width: 0;
    padding: 6px 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    backdrop-filter: blur(8px);
    transition:
        width 0.4s ease,
        opacity 0.3s ease,
        transform 0.4s ease;
    pointer-events: none;
}

.searchBox:hover .searchInput,
.searchBox:focus-within .searchInput {
    width: 180px;
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}

.searchBox:hover .searchIcon,
.searchBox:focus-within .searchIcon {
    opacity: 0;
}

.category :hover{
}