.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  padding-top: 5rem;
}

.card {
  position: relative;
  padding: 3rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-width: 24rem;
  width: 100%;
  text-align: center;
  color: var(--text, #111827);
}

.logoBox {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem;
}

.logo {
  width: 8rem;
  height: 8rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #fff;
}

.subtitle {
  color: #a18fa3;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.label {
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0.75rem;
  margin-left: -16px;
}

.inputGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input {
  width: 3.2rem;
  height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #a18fa3;
  color: #fff;
  border: 2px dashed #d1d5db;
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.1s ease;
}

.input:hover {
  border-color: #9ca3af;
}

.inputFocus {
  border-color: #d46fff;
}

.resend {
  color: #a18fa3;
  font-size: 0.875rem;
}

.resendBtn {
  color: #a18fa3;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.resendBtn:hover {
  text-decoration: underline;
  color: #fff;
}