# Frontend
frontend/node_modules/
frontend/build/

# Backend
backend/target/
backend/.env

# IDE configs
.idea/
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# ENV files
.env
*.env
.env.*

# Keys / certificates / secrets
*.pem
*.key
*.crt
*.p12
*.pfx
*.keystore
*.jks
*.secret

# Secret directories
secrets/
config/*.local
