version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: project-comic-redis
    restart: always
    ports:
      - "6379:6379"
    command: [
      "redis-server",
      "--port", "6379",
      "--appendonly", "yes",
      "--appendfsync", "everysec",
      "--aof-use-rdb-preamble", "yes"
    ]
    volumes:
      - redis_data:/data

volumes:
  redis_data:

