.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 10rem;
}

.box {
    width: 100%;
    max-width: 420px;
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.header p {
    color: #a18fa3;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 25px 0 23px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
}

.form input {
    width: 93.9%;
    height: 25px;
    border: 1px solid #e4e4e7;
    border-radius: 6px;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #fff;
    transition: 0.2s;
}

.form input:focus {
    outline: none;
    border-color: #a18fa3;
    box-shadow: 0 0 0 1px #a18fa3;
}

.passwordWrapper {
    position: relative;
}

.eyeBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.btnLoginAndRegister {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 38px;
    background: #18181b;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.875rem;
    cursor: pointer;
}

.btnLoginAndRegister::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-5deg);
    pointer-events: none;
    transition: left 0.3s ease-out;
    z-index: 0;
}

.btnLoginAndRegister:hover::before {
    left: 0;
}

.btnLoginAndRegister:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.btnLoginAndRegister span {
    position: relative;
    z-index: 1;
}

.iconEye {
    width: 20px;
    height: 20px;
    stroke: currentColor;
}
.error {
    color: #e63946;
    font-size: 0.85rem;
    margin-top: 4px;
    margin-bottom: -8px;
}

.errorLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e63946;
  font-size: 0.85rem;
  margin-top: 4px;
  margin-bottom: -8px;
}
