@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 30px 0 30px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --app-bg: radial-gradient(125% 125% at 50% 100%, #000000 40%, #010133 100%);
}

html,
body,
#root {
  background: var(--app-bg);
  background-size: cover;
  background-attachment: fixed;
  color: inherit;
  overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}