.wrapper {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0  ;
  z-index: 9999;
}

.dot {
  width: 12px;
  height: 12px;
  background: #d46fff;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
  margin: 0 4px;
}

.dot1 { animation-delay: -0.3s; }
.dot2 { animation-delay: -0.15s; }
.dot3 { animation-delay: 0; }

@keyframes bounce {
  from { transform: translateY(0); }
  to   { transform: translateY(-8px); }
}
